.DS_Store
.idea
nbproject
/var
/vendor
/packages/*
!/packages/apache_solr_for_typo3_sitepackage
!/packages/apache_solr_for_typo3_sitepackage/*

!/packages/introduction_*
!/packages/introduction_*/*
/packages/*/Initialisation/not_covered_by_impexp.isImported

/public/*
!/public/typo3conf
/public/typo3conf/*

/config/system/settings.php
!/config/system/additional.php
.ddev/solr/site
.ddev/solr/tests

/releses/

.ddev/tika-jars/
