version: '3.6'

services:
  web:
    volumes:
      - "~/.composer/cache/:/home/.composer/cache/"
    environment:
      - TYPO3_CONTEXT=Development
      - TYPO3_INSTALL_DB_USER=db
      - TYPO3_INSTALL_DB_PASSWORD=db
      - TYPO3_INSTALL_DB_HOST=db
      - TYPO3_INSTALL_DB_PORT=3306
      - TYPO3_INSTALL_DB_UNIX_SOCKET=
      - TYPO3_INSTALL_DB_USE_EXISTING=1
      - TYPO3_INSTALL_DB_DBNAME=db
      - TYPO3_INSTALL_ADMIN_USER=admin
      - TYPO3_INSTALL_ADMIN_PASSWORD=password
      - TYPO3_INSTALL_SITE_NAME=$DDEV_SITENAME (on DDEV)
      - TYPO3_INSTALL_SITE_SETUP_TYPE=no
      - TYPO3_HOST=${DDEV_SITENAME}.ddev.local

      # test environment for ddev ssh
      - TYPO3_VERSION=^9.5
      - PHP_CS_FIXER_VERSION=2.15.3
      - TYPO3_DATABASE_HOST=db
      - TYPO3_DATABASE_NAME=db_tests
      - TYPO3_DATABASE_USERNAME=root
      - TYPO3_DATABASE_PASSWORD=root
      - typo3DatabaseName=db_tests
      - typo3DatabaseHost=db
      - typo3DatabaseUsername=root
      - typo3DatabasePassword=root
      - TESTING_SOLR_HOST=solr
      - TESTING_SOLR_PORT=8983
#      #
#      - EXT_SOLR_VERSION=dev-master
