services:
  solr-site: &typo3-solr-service
    container_name: ddev-${DDEV_SITENAME}-solr-site
    build:
      context:
        ../packages/ext-solr/
      dockerfile: Docker/SolrServer/Dockerfile
      args:
        SOLR_UNIX_UID: ${DDEV_UID}
        SOLR_UNIX_GID: ${DDEV_GID}
    restart: "no"
    volumes:
      - solr-site:/var/solr
    labels:
      com.ddev.site-name: ${DDEV_SITENAME}
      com.ddev.approot: $DDEV_APPROOT
    environment:
      - VIRTUAL_HOST=$DDEV_HOSTNAME
      - HTTP_EXPOSE=8983
      - HTTPS_EXPOSE=8983

  solr-tests:
    <<: *typo3-solr-service
    container_name: ddev-${DDEV_SITENAME}-solr-tests
    volumes:
      - solr-tests:/var/solr
    environment:
      - SOLR_PORT=8985
      - VIRTUAL_HOST=$DDEV_HOSTNAME
      - HTTP_EXPOSE=8985
      - HTTPS_EXPOSE=8985
  web:
    depends_on:
      - solr-tests
      - solr-site

volumes:
  solr-site:
    driver: local
    driver_opts:
      type: none
      device: $DDEV_APPROOT/.ddev/solr/site
      o: bind
  solr-tests:
    driver: local
    driver_opts:
      type: none
      device: $DDEV_APPROOT/.ddev/solr/tests
      o: bind
